#camp_request{
    font-family:Arial,Helvetica,Georgia,Sans-serif;
    width:960px;
    height:471px;
    padding:0px;
    float:left;
    position:relative;
}
.submitted{
    display:none;
}
#camp_request tbody{
    border:none;
}
#camp_request tr td, #camp_request tr th{
    background:none;
    padding:0;
    border:none;
    color:white;
}
#camp_request input, #camp_request select{
    font-size:16px;
    padding:0;
    margin:3px;
}
#camp_request input{
    width:200px;
}
#camp_request select{
    width:207px;
}
#camp_request tr{
    background:none;
}
#camp_request .left{
    float:left;
    width:456px;
    height:471px;
}
#camp_request .left-top{
    height:299px;
}
#camp_request .left-bottom{
    background:url('../img/nex-form-bot-left.png');
    float:left;
    clear:left;
    height:172px;
}

#camp_request .right{
    float:left;
    background:url('../img/brochure-right-box-new.png');
    height: 471px;
    width:484px;
	margin-bottom: 10px;
}

#campaign-landing-form .form-submit{
    xbackground: url("../img/request-but-up.png") repeat scroll 0 0 transparent;
    border: medium none;
    bottom: 90px;
    height: 59px;
    margin-left: 111px;
    position: absolute;
    right: 130px;
    width: 258px;
}
#campaign-landing-form .down{
    background:url('../img/request-but-down.png');
}
#camp_request .hidden{
    display:none;
}

#camp_request table{
    border-collapse:collapse;
border:none;
    font-size:16px !important;
    margin: 10px 0px 0px 15px;
}
#campaign-landing-form .label{
    padding-right:10px;
    text-align:right;
}
#camp_request input{
    height:24px;
}
#campaign-landing-form td {
    vertical-align:top;
    line-height:28px;
}
#campaign-landing-form tr{
    margin-bottom:10px;
}
#campaign-landing-form textarea{
    height:70px;
width:207px;
}
#Questions{
    resize:none;
}
.form-item, .form-actions{
    margin-top:0;
    margin-bottom:0;
}
#cant-wait-container{
    bottom: 18px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 484px;
}
.cant-wait{
    color:#000;
    font-size: 20px;
}